@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
  --font-alegreya: "Alegreya", serif;
  --font-redhatdisplay: "Red Hat Display", sans-serif;
  --spacing: 0.0625rem;

  /* Media Queries */
  --breakpoint-*: initial;
  --breakpoint-tablet: 640px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1280px;
}

.max-newsletter-w-grid {
  @apply max-w-[83.125rem];
}

body {
  @apply font-alegreya;
  color: #3f3523;
}

h1,
h2,
h3 {
  @apply font-redhatdisplay;
}

article {
  max-width: 37.5rem;
}

article h1 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 24px;
}

article h2 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 16px;
}

article h3 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 16px;
}

article p,
article ul {
  padding-bottom: 16px;
  font-size: 24px;
}

article ul li {
  list-style: disc inside none;
  padding-left: 2.5rem;
}

article ul li ul li {
  list-style: circle inside none;
  padding-left: 1.5625rem;
}
